h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display:block;
}
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;

}
.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}
button{
    cursor: pointer;
}

/*======================HEADER======================*/

.page-header{
background-color: #FFF;
   border-bottom: 1px solid #E7E9FC;
}
.page-header-container{
    display: flex;
    padding: 0 15px 0 15px;
   
    
  
}
.page-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 452px;
    padding: 24px 0;
   
}
.logo{
color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; 
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-studio{
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.nav-link{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    padding: 24px 0;
}
.nav-link:active,
.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.menu{
    display: flex;
    gap: 40px;
    
    
   
}
.menu-item{
    padding: 24px 0;
}
.menu-contact{
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.page-contact{
    font-style: normal;
    margin-left:auto;
    column-gap: 40px;
    padding: 24px 0;
}
.link-contact{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link.link-contact:hover,
.link-contact:focus{
    color: #404BBF;

}
body{
    color: #434455;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
/*====================  HERO ==================*/

.section-hero{
    background-color: #2E2F42; 
    padding: 188px 0;
 }   

.section-hero-container{
   background-color:#2E2F42;
   text-align: center;
   
   }

.main-title{
        color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-left:auto;
        margin-right: auto; 
    
}

.input{
        color:  #FFF;
        background-color: #4D5AE5;
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-top: 48px;
        margin-left: auto;
        margin-right: auto;
}
.input:hover,
.input:focus{
    background: #404BBF;
}

/*====================  HERO ==================*/

/*================ SECTION-FEATURES ==================*/
.section-second{
    padding: 120px 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}    
.features-container{
    padding: 120px 0 120px;
}
.menu-item-second{
width: calc((100% - 72px) / 4)
}

.menu-second{
    padding: 96px 0;
    display: flex;
    gap: 24px;
  
}
.title-tertiary-features{
    margin-bottom: 8px;
}


/*================ SECTION-FEATURES ============*/


/*================ COMMON-SECTION'S-TITLE-H2 =======================*/
.title-tertiary{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
 /*================ COMMON-SECTION'S-TITLE-H2 =======================*/

/*================ COMMON-SECTION'S-TEXT =======================*/
.text{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 8px;
       
}
/*================ COMMON-SECTIONS-TEXT =======================*/

/*=============== SECTION-OUR-TEAM============*/

.section-third{
      padding: 120px 0;
}
.container-section-third{
  
    margin-top: 96px;
    margin-bottom: 96px;
      
}

.menu-img-third{
    width: 100%;
    margin-bottom: 32px;
   
}
   
.menu-third{
    display: flex;
    gap: 24px;

    
}
.menu-item-third{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4); 
    border-radius: 0 0 4px 4px;
}
.box-container-team{
    padding: 32px 0;
}
.title-tertiary-team{
    text-align: center;
    margin-bottom: 8px;
}
.text-team{
    text-align: center;
   
}

.section-third{
    background-color: #F4F4FD;
}

/*=============== SECTION-OUR-TEAM==================*/

/*=============== SECTION-pORTFOLIO=================*/
.section-fourth{
    padding: 120px 0 120px 0
}

.conteiner-section-forth{
    padding-bottom: 96px ;
}
.box-container{
    border: 1px solid #E7E9FC ;
    border-top: none;
    padding: 32px 16px;
}
.menu-fourth{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.menu-item-fourth{
    width: calc((100% - 48px) / 3);
    
}
.title-tertiary-portfolio{
    margin-bottom: 8px;
   
}

/*=============== SECTION-pORTFOLIO=================*/
/*================ COMMON-SECTION'S-TITLE-H2 =======================*/


.title-secondary{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/*================ COMMON-SECTION'S-TITLE-H2 =======================*/

/*================FOOTER=======================*/
.page-footer{
    background-color: #2E2F42;
    padding: 100px 0
}

   
.text-footer{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    width: 100%;
    max-width: 264px;
    margin-top: 16px;
}

.logo-studio-footer{
    color: #F4F4FD;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
}